.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border: solid white 5px;
    background-color: darkgreen;
    
    border-radius: 10px;
    margin: auto;
    padding: 15px 20px;
    font-size: larger;
    height: 40px;
}
/* .navbar__links{
    flex-direction: column;
} */
.navbar__item {
    flex-basis: 30%;
    list-style-type: none;
    
}

li a{
    color: white;
}
.logout{
    display: flex;
    float: right;
}
.logout__button{
    float: right;
    display: flex;
    background-color: white;
    font-size: larger;
    color: darkgreen;
    border-radius: 8px;
    position: absolute;
    right: 40px;
    padding: 2px 7px;
}