.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    border: solid white 5px;
    background-color: darkgreen;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    font-size: larger;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}